<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/fonts/fira-code.css">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href="http://overpass-30e2.kxcdn.com/overpass.css" rel="stylesheet" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
  <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {{ partial "meta.html" . }}
</head>
<body>
  <div class="page">
